a:link,
a:visited {
    color: #b2b2b2;
    text-decoration: none;
}

a:focus {
	border: .25em lime solid;
}

a:hover,
a:active {
  color: lime;
}

article section {
	float: left;
	width: 50%;
}

body {
	background: url("../img/bg.png");
	color: #b2b2b2;
	font-size: 1em;
	font-family: 'Nunito', sans-serif;
	line-height: 1.5em;
}

button {
	background: #000;
	border: none;
	border-radius: 4px;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 0 1em 1em 0;
	padding: .75em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

button a {
	padding: 1em;
}

h1, h2, h3, h4, h5 {
	font-family: 'Nunito', sans-serif;
}

h1 {
	font-size: 3em;
	font-weight: bold;
	margin-bottom: -.25em;
	text-transform: uppercase;
}

h2 {
	font-size: 1.6em;
	margin-bottom: -.75em;
}

h3 {
	font-size: 1.4em;
	margin-bottom: .5em;
}
h4 {
	font-size: 1.3em;
}
h5 {
	font-size: 1.2em;
}

h3 + p {
	margin-top: -.25em;
}

h4 + p {
	margin-top: -.25em;
}

header {
	background: url("../img/head.png");
	color: #000;
}
header img {
	padding: .5%;
}

strong {
	font-weight: bold;
}

ul {
	list-style: none;
}

li {
	float:left;
}

li:nth-child(2) {
	color:lime;
	font-size: 1.75em;
	padding: 0 3em;
}

li:nth-child(3) {
	font-size: 1.25em;
}

li:nth-child(5) {
	padding: 2em 0 0 0;
}

li:nth-child(6) {
	font-size: 2em;
	font-weight: bold;
	padding: 1em 3em;
}

li:nth-child(7) {
	color:lime;
	padding: 2em 0 0 0;
}

.container {
	margin:0 auto;
	width: 80%;
}

.head {
	color: lime;
	font-size: 2.5em;
	font-weight: bold;
	margin-bottom:.25em;
	text-transform: uppercase;
}

.subhead {
	font-size: 2em;
	margin-bottom: .25em;
}

.c1, .c2, .c3, .t1, .t2 {
	border: .4em solid #fff;
	float: left;
	height:7em;
	width: 7em;
	margin: 1%;
}

.c1 {
	background: #000;
}

.c2 {
	background: lime;
}

.c3 {
	background: #b2b2b2;
}

.t1 {
	background: url("../img/bg.png") top left repeat;
}

.t2{
	background: url("../img/head.png") top left repeat;
} 