/* Your Website Styles */
a:link,
a:visited {
    color: #b2b2b2;
    text-decoration: none;
}

a:focus {
	border: 2px lime solid;
}

a:hover,
a:active {
  color: lime;
}

body {
	background: url("../img/bg.png");
	color: #b2b2b2;
	font: .75em;
	font-family: 'Nunito', sans-serif;
	line-height: 1.5em;
}

button {
	background: #000;
	border: none;
	border-radius: 4px;
	font: bold;
	letter-spacing: 1px;
	padding: 1em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

button a {
	padding: 1em;
}

h1, h2, h3, h4, h5 {
	font-family: 'Nunito', sans-serif;
}

h2 {
	font: bold 1.6em
}

h3 {
	font: 1.2em;
}
h4 {
	font: .8em;
}
h5 {
	font-size: .75em;
}

header {
	background: url("../img/head.png");
	color: #000;
}
header img {
	padding: .5%;
}


article section {
	float: left;
	width: 50%;
}

.container {
	margin:0 auto;
	width: 80%;
}

.c1, .c2, .c3, .t1, .t2, .t3 {
	border: 5px solid #fff;
	float: left;
	height:100px;
	width: 100px;
	margin: 1%;
}

.c1 {
	background: #000;
}

.c2 {
	background: lime;
}

.c3 {
	background: #b2b2b2;
}

.t1 {
	background: url("../img/bg.png");
}

.t2{
	background: url("../img/head.png");
} 

.t3 {
	background: #f0f;
}

/* Show Grid
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}
*/